.app-snakeGame-toolbar {
    background-color: rgb(26, 26, 26);
}

#snake-container {    
    width: 100%;
    height: 100%;
    background-color: rgb(101, 41, 156);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-canvas {
    position: relative;
    max-width: 1200px;
    max-height: 800px;
    height: 90%;
    width: 90%;
    margin: auto;
    background: linear-gradient(to bottom, #4CAF50 0%, #388E3C 50%, #2C6B2F 100%);
}

.snake-menu_screen {
    top: 30px;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.snake-menu_screen h1 {
    font-size: 80px;
}

#snake-menu-btn,
#snake-leaderboard-btn {
    margin: auto;
    width: 90%;
    height: 50px;
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
}

#timer,
#score {
    text-align: center;
}

#snake-menu-btn:hover,
#snake-leaderboard-btn:hover {
    background-color: rgb(101, 41, 156);
    cursor: pointer;
}

.snake-menu_screen.hide {
    display: none;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}